

body {
    overflow: hidden;
    background: #323641;
  }
  .letter-image {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 440px;
    height: 440px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }
  
  .animated-mail {
    position: absolute;
    height: 200px;
    width: 200px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
  }
  .animated-mail .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 150px 440px;
    border-color: transparent transparent #E9C28D transparent;
    z-index: 2;
  }
  .animated-mail .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 77px 220px 0 220px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #d0a160 transparent transparent transparent;
    z-index: 2;
  }
  .animated-mail .back-fold {
    position: absolute;
    bottom: 0;
    width: 440px;
    height: 150px;
    background: #d9ac6e;
    z-index: 0;
  }
  .animated-mail .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75px 0 75px 220px;
    border-color: transparent transparent transparent #e6ba7c;
    z-index: 2;
  }
  .animated-mail .letter {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 11px;
    padding-left: 50px;
    padding-right: 50px;
    font-style: normal;
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 300px;
    height: 60px;
    background: #805E14;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: 0.4s 0.2s;
    -moz-transition: 0.4s 0.2s;
    transition: 0.4s 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .animated-mail .letter .letter-border {
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(-45deg, #cb5a5e, #cb5a5e 8px, transparent 8px, transparent 18px);
  }
  .animated-mail .letter .letter-title {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 40%;
    background: #cb5a5e;
  }
  .animated-mail .letter .letter-context {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 20%;
    background: #cb5a5e;
    content: 'ram avtar';
  }
  .animated-mail .letter .letter-context-body {
    margin-top: 10px;
    margin-left: 5px;
    /* height: 10px; */
    width: 99%;
    color: black;
    content: 'ram avtar';
  }
  .animated-mail .letter .letter-stamp {
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background: #cb5a5e;
    opacity: 0.3;
  }
  
  .shadow {
    position: absolute;
    top: 250px;
    left: 50%;
    width: 600px;
    height: 60px;
    transition: 0.4s;
    transform: translateX(-50%);
    -webkit-transition: 0.4s;
    -webkit-transform: translateX(-50%);
    -moz-transition: 0.4s;
    -moz-transform: translateX(-50%);
    border-radius: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
  
  .letter-image:hover .animated-mail {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
  }
  .letter-image:hover .animated-mail .top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    -webkit-transition: transform 0.4s, z-index 0.2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition: transform 0.4s, z-index 0.2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
  }
  .letter-image:hover .animated-mail .letter {
    height: 530px;
    content: 'ram avtar';
    color: #000;
  }
  .letter-image:hover .shadow {
    width: 250px;
  }
  .logo-oscar{
    margin-left: 60px;
  }
  .logo-oscar img{
    width: 160px;
  }

  .marcadagua{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .assinatura{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
  }

  .assinatura img{
    width: 120px;
  }

  .confirmarPresenca{
    margin-top: 20px;
    background: none;
    border: none;
    border-radius: 15px;
    border: 1px solid #e6ba7c;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 9px;
    padding: 10px;
    cursor: pointer;
  }
  .confirmarPresenca:hover{
background-color: #e6ba7c;
color: #805E14;
  }